/*body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:aliceblue;
}

#wrapper{
    width:1080px;
    margin:0 auto;
    padding:10px;
    border:5px solid #b6ff00;
    background-color:#fff;
}
#banner{
    height:200px;
    border:3px solid #4cff00;
}
#navigation {
    margin-left:auto;
    height: 60px;
    border: 3px solid #4cff00;
    margin-top: 20px;
}
#content_area{
    float:left;
    width:750px;
    margin:20px 0 20px 0;
    padding:10px;
    border:3px solid #ffd800;
}
#sidebar {
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px 20px 10px;
    border: 3px solid #ffd800;
    
}
#footer{
    clear:both;
    width:auto;
    height:40px;
    margin-top:20px;

}*/

/*Grid layout*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    
    font-family: sans-serif;
    margin: auto;
}

.container {
    background: #ddd;
    padding: 0.5em;
    grid-gap: 1.5em;
    
}

.item {
    background: #7fbbd6;
    /* margin: 0.5em; */
    padding: 0.5em;
    color: white;
    font-size: 2em;
    text-align: center;
}

.sub-item {
    /* background: #43743a;
  width: 1em;
  margin: 0.5em;
  padding: 0.5em; */
    background: #41642f;
    margin-bottom: 0.4em;
    padding: 0.4em;
}

/*****************/

.container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}
.one{
    grid-row:span 3;
}

.three {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-row: span 4;
    grid-gap:.4em;
    
}

.seven{
    grid-row:span 2;
}